
@font-face {
    font-family: 'lop';
    src: url('fonts/AMORIA.otf') format('opentype');
}

@font-face {
    font-family: 'god';
    src: url('fonts/ClassicalDiary-Regular Demo.ttf') format('truetype');
}

body {
    background-color: rgb(135, 143, 63);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    margin: 40px auto;
    padding: 0 10px;
    overflow: hidden;
}

.text-h2 {
    color: rgba(255, 255, 255, 0.979);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 21px auto;
}

.text-p {
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'lop';
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'lop';
    box-shadow: 6px 5px 1px hsl(44, 98%, 50%);
}

mark {
    background-color: gold;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow: 10px 10px 23px rgb(128, 69, 2);
    max-width: 100%;
    height: auto;
}

main {
    max-width: 600px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px 20px 2px 20px;
    margin: auto;
    box-shadow: 10px 8px 1px hsl(44, 98%, 50%);
}

#titulo {
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 1px 20px;
    padding: 19px;
    margin: auto;
    color: #000000;
    text-align: center;
    max-width: 20%;
}

.meunome {
    background-color: rgb(252, 142, 16);
    font-family: 'god';
}

.redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

#instagram,
#youtube {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 6px 4px 1px rgb(255, 196, 0);
    border-radius: 7px;
    flex: 1 1 100px;
    text-align: center;
    max-width: 30px;
    font-size: 30px;
    color: #000000;
}


/*--------MENU-------*/

.contein {

    position: relative;
}

.menu {
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 2%;
    position: absolute;
    left: 1400px;
    border-radius: 20px;
    box-shadow: 6px 1px 1px 5px rgb(245, 139, 0) ;
    transform: translate(0%,90%);
    transition: 1s;

}

.cima {
    position: relative;
}

#dentro-cima {

    position: absolute;
    left: 1560px;
    font-size: 50px;
    color: white;
    transform: translate(0%,260%);
    transition: 1s;
    cursor: pointer;
    opacity: 1;
}

#dentro-cima:hover {
    color: #000000;
}

.baixo {
    position: relative;
}

#dentro-baixo {

    left: 1560px;
    bottom: -30px;
    font-size: 50px;
    color: white;
    position: absolute;
    cursor: pointer;
    transition: 1s;
    opacity: 0;
}

#dentro-baixo:hover {
    color: #000000;
}

#ajuda {

    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    cursor: pointer;
}

#priva {

    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.fundo-priva {

    background-color: rgba(255, 0, 0, 0);
    margin-top: 70px;

}

.fundo-ajuda {

    margin-bottom: 40px;
    background-color: rgba(95, 20, 20, 0);
    position: relative;
}

#priva:hover {

    font-size: 40px;
    transition: 0.1s;
}

#ajuda:hover {

    font-size: 40px;
    transition: 0.1s;
}

.contein.ativar #dentro-baixo {
   transform: translate(0%, -170%);
   transition: 1s;
   opacity: 1;
}

.contein.ativar .menu {
    transform: translate(0%,0%);
    transition: 1s;
}

.contein.ativar #dentro-cima {
    transform: translate(0%,-170%);
    transition: 1s;
    opacity: 0;
}


/* RESPONSIVIDADE PARA TELAS PEQUENAS */

@media (max-width: 600px) {

    main {
        margin-right: 2%;
        border-radius: 4%;
    }

    .redes {
        position: relative;
        left: -14px;       
    }

    #instagram,
    #youtube {
        width: 80%;
        max-height: 30px;
        margin-left: 20px;
        text-decoration: none;
    }

    #titulo {
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 10%;
        max-width: 50%;
    }

    .text-h2 {
        margin-top: 10%;
        width: 100px;
    }

    .contein {

        position: relative;
    }

    .menu {
        background-color: white;
        width: 300px;
        left: 37px;
        top: -70px;
        height: 200px;
        padding: 2%;
        position: absolute;
        border-radius: 20px;
        box-shadow: none;
        transition: 1s;
    }

    .cima {
        position: relative;
    }

    #dentro-cima {

        position: absolute;
        left: 0px;
        background-color: rgba(255, 0, 0, 0);
        font-size: 40px;
        color: white;
        transform: translate(0%,0%);
        transition: 1s;
        cursor: pointer;
        opacity: 1;
    }

    #dentro-cima:hover {
    
        color: #000000;
    }

    .baixo {

        position: relative;
    }

    #dentro-baixo {

        left: 0px;
        bottom: 10px;
        font-size: 40px;
        color: white;
        position: absolute;
        cursor: pointer;
        transition: 1s;
        opacity: 0;
    }

    #dentro-baixo:hover {
    
        color: #000000;
    }

    #ajuda {

        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        cursor: pointer;
        margin-left: 30px;
        margin-top: 10px;
    } 

    #priva {

        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        margin-left: 30px;
        margin-top: 70px;
    }

    .fundo-priva {

        background-color: rgba(255, 0, 0, 0);
        margin-top: 70px;

    }

    .fundo-ajuda {

        margin-bottom: 40px;
        background-color: rgba(95, 20, 20, 0);
        position: relative;
    }
  
    #priva:hover {

        font-size: 40px;
        transition: 0.1s;
    }

    #ajuda:hover {

        font-size: 40px;
        transition: 0.1s;
    }

    .contein.ativar #dentro-baixo {
        
        transform: translate(0%, -170%);
        transition: 1s;
        opacity: 1;
    }

    .contein.ativar .menu {
        transform: translate(0%,0%);
        transition: 1s;
    }

    .contein.ativar #dentro-cima {
        transform: translate(0%,-170%);
        transition: 1s;
        opacity: 0;
    }
    
}